@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    --orange: #fa9200;
    --black: #141414;
  }
  
  *, ::before, ::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }
    
    body {
      background: var(--black);
    }
  
    .container .eventname{
      font-size: 40px;
      color: var(--orange) ;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
    }
    .regbutton{
      background-color: var(--orange);
      color: var(--black);
      width: 40%;
      height: 40px;
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 40px;
      border-radius: 30px;
      cursor: pointer;
    }
    .regbutton:hover{
      background-color: var(--black);
      color: var(--orange);
      text-decoration: none;
      border: 2px solid var(--orange);
    }
    
    .container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 90vw;
      /* height: 100vh; */
      background: var(--black);
      
      margin: 0 auto;
      margin-top: 100px;
      word-break: break-all;
      /* border: 1px solid rgba(0, 0, 0, 0.274); */
    }
    
    .bloctabs {
      display: flex;
    }
    .tabs {
      /* display: flex; */
      color: var(--orange);
      font-size: 2em;
      padding: 15px 0px 15px 0px;
      text-align: center;
      width: 50%;
      background: rgba(128, 128, 128, 0.075);
      cursor: pointer;
      border-bottom: 4px solid rgba(0, 0, 0, 0.274);
      border-radius: 30px;
      box-sizing: content-box;
      position: relative;
      outline: none;
    }
    .tabs:not(:last-child){
      border-right: 1px solid rgba(0, 0, 0, 0.274);
    }
    
    .activetabs  {
      background: var(--black);
      border-bottom: 4px solid var(--orange);
      outline: none;
    }
    
    .activetabs::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      /* background: rgb(88, 147, 241); */
    }
    .activecontent:active{
      outline: none;
      border: none;
      box-shadow: none;
    }
    
    
    button {
      border: none;
      
    }
    .contenttabs {
      flex-grow : 1;
    }
    .content {
      background: var(--black);
      color: var(--orange);
      font-size: 2em;
      padding: 20px;
      width: 100%;
      height: 100%;
      display: none;
    }
    
    .content .p {
      width: 100%;
      height: 100%;
      /* margin-bottom: 40px; */
      color: white;
      text-transform: none;
    }
    .activecontent {
      display: block;
    }
  
    .rules{
      font-size: 30px;
    }

    .ool{
        padding-left: 30px;
    }
  
    .highlights{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
      margin: 0 auto;
    }
  
    .highlights .highlightdiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
  
    .highlights .highlightheading{
      font-weight: 700;
      margin: 0 auto;
    }
  
    .highcontacts{
      display: flex;
      flex-direction: column;
  
    }
    .highbox{
      border: 2px solid var(--orange);
      list-style-type: none;
      margin: 0 auto;
      padding: 30px;
      text-align: center;
      border-radius: 30px;
      margin-bottom: 40px;
    }
    
    .highspace{
      text-transform: none;
      margin-bottom: 3px;
      color: white;
    }
    .eventhead{
      font-size: 20px;
      color: var(--orange);
    }

    .toplights{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 2fr 2fr;
      margin: 0 auto;
      margin-bottom: 8px;
    }
  
    .toplights .toplightdiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      font-size: 2em;
    }
  
    .toplights .toplightheading{
      font-weight: 700;
      margin: 0 auto;
    }