@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root{
    --orange: #fa9200;
    --black : #141414;
}
/* .navnot{
    
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100vw;
    height: 80px;
    color: var(--orange);

} */
*{
    font-family: 'Montserrat', sans-serif;
  }
.navnav {
    
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100vw;
    margin-left: -1%;
    margin-top: -0.6%;
    height: 80px;
    background: linear-gradient(45deg, var(--orange), #992900);
}

.zealous{
    position: absolute;
    color: var(--black);
    z-index: 92;
    transform: translateX(45%);
    top: 30%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, var(--orange), #992900);
    height: 100%;
    display: flex;
    color: var(--black);
    justify-content: center;
    align-items: center;
    position: relative;
}

#items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.navcolor{
    color: var(--black);

}

.btnnav {
    display: none;
    position: absolute;
    right: 15px;
    top: 7px;
    width: 40px;
        height: 60px;
        background: url('../../images/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
}

@media screen and (max-width: 750px){
    .list {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        
    }
    .navcolor{
        font-size: 40px;
    }
    .items:nth-child(1){
        
        margin-top: 50px;
    }
    .items {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btnnav {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }    
}
