.social
{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 5%;
    
    
}
.smedia
{
    margin: 0% 2% 0% 2%;
    display: flex;
    align-items: center;
}
.icon-link{
    font-size: 3em;
    color: #fa9200;
    z-index: 1000;
}